# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
.env

# Django
db.sqlite3
staticfiles/
media/

# Docker
*.db
*.sqlite3
docker-compose.override.yml
*.env

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS Artifacts
.DS_Store
Thumbs.db